<%- include("../partials/_header-dashboard") %>


<!-- ================ header: #Header ================  -->
<header id="Header" class="bg-secandary">
	<div class="container py-4 mb-4">
		<h1>
			<i class="fas fa-cog"></i> ダッシュボード</h1>
	</div><!-- /.container -->
</header><!-- /#Header -->


<!-- ================ section:#Dashboard-wrap (#Dashboard-list / #Sidenav-btn) ================  -->
<section id="Dashboard-wrap" class="mb-5">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body border-success text-center mb-4">
					<h3>レシピの管理</h3>
					<h4 class="display-4 py-1">
						<i class="fas fa-inbox"></i>
					</h4>
					<p>登録されているレシピ情報の編集、削除できます。</p>
					<a href="/dashboard/courses" class="btn btn-outline-success">編集/管理する</a>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card card-body border-warning text-center mb-4">
					<h3>メルマガの管理</h3>
					<h4 class="display-4 py-1">
						<i class="fas fa-rss-square"></i>
					</h4>
					<p>登録されているメルマガ情報の編集、削除できます。</p>
					<a href="/dashboard/subscribers" class="btn btn-outline-warning">編集/管理する</a>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card card-body border-danger text-center mb-4">
					<h3>ユーザーの管理</h3>
					<h4 class="display-4 py-1">
						<i class="fas fa-user"></i>
					</h4>
					<p>登録されているユーザー情報の編集、削除できます。</p>
					<a href="/dashboard/users" class="btn btn-outline-danger">編集/管理する</a>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card card-body border-primary text-center mb-4">
					<h3>メールの管理</h3>
					<h4 class="display-4 py-1">
						<i class="fas fa-envelope"></i>
					</h4>
					<p>お問い合わせで受信したメールの閲覧、削除できます。</p>
					<a href="/dashboard/contacts" class="btn btn-outline-primary">閲覧/管理する</a>
				</div>
			</div>
		</div><!-- /.row -->
	</div><!-- /.container -->
</section><!-- /#Dashboard-wrap (#Dashboard-list / #Sidenav-btn)  -->

<%- include("../partials/_footer-dashboard") %>