<%- include("./partials/_header") %>

<!-- Page-title-area  -->
<section id="Page-title-area" class="bg-dark">
	<div class="container text-light page-title-area-content">
		<h2>404ページのご案内</h2>
	</div><!-- /.page-title-area-content -->
</section><!-- /#Page-title-area -->

<!-- Info  -->
<section id="info" class="container py-4">
	<div class="row">
		<div class="col">
			<div class="card">
				<div class="card-header">
					<h2>404 Not Found</h2>
				</div>
				<div class="card-body">お探しのページは見つかりませんでした。</div>
				<div class="card-footer">
					<a href="/" class="btn btn-primary btn-block">トップページへ戻る</a>
				</div>
			</div>
		</div>
	</div>
</section>


<%- include("./partials/_modal-course-list") %>
<%- include("./partials/_footer") %>