<%- include("./partials/_header") %>


<!-- HERO-IMG -->
<div class="jumbotron mb-0" id="bg-jumbotron" style="margin-top: 60px;">

	<!-- flashes  -->
	<%- include("./partials/_flashes") %>

	<div class="container jumbotron-inner">
		<div class="row">

			<div class="col-lg-7 d-none d-lg-block pl-4 pt-4">
				<p>
					Find a wonderful recipe!
				</p>
				<h1 class="display-4 mb-4">
					素敵なレシピを<br>見つけよう！
				</h1>
				<p class="lead">普段の献立やパーティーにも使えるお料理レシピをたくさん紹介しています！おすすめ料理をサイトに登録することもできます！</p>
			</div>

			<div class="col-lg-5 bg-danger">
				<form action="/newregister" method="POST" class="container p-3">
					<div class="text-center text-light py-3">
						<h3>新規会員登録</h3>
					</div>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<div class="input-group-text"><i class="fas fa-user"></i></div>
						</div>
						<input type="text" name="first" class="form-control" placeholder="姓" required>
					</div>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<div class="input-group-text"><i class="fas fa-user"></i></div>
						</div>
						<input type="text" name="last" class="form-control" placeholder="名" required>
					</div>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<div class="input-group-text"><i class="fas fa-envelope"></i></div>
						</div>
						<input type="email" name="email" class="form-control" placeholder="メールアドレス" required>
					</div>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<div class="input-group-text"><i class="fas fa-lock"></i></div>
						</div>
						<input type="password" name="password" class="form-control" placeholder="パスワード" required>
					</div>
					<button type="submit" class="btn btn-warning border-light btn-block">
						登録
					</button>
				</form>
				<div class="text-center pb-3">
					<a href="newsubscriber" class="text-light">メルマガのみ登録希望の方はこちら</a>
				</div>
			</div>

		</div>
	</div>
</div>


<!-- Info -->
<section id="Info">
	<div class="container py-5">
		<div class="row">
			<div class="col-md-6 my-4">
				<h3>Recipe.comとは？</h3>
				<p class="pb-3">
					インターネットで手軽に料理のレシピを見ることができます。会員登録することで自分のオリジナルレシピを投稿することもできます！<br>
					毎日の献立を考えるのって中々大変ですよね。Recipe.comでは主婦の方や社会人、また学生さんなど、幅広い方々にも投稿いただいているので今日のあなたにあったレシピがきっと見つかるはず。<br>
					今後は、会員のマイページでレシピの登録機能やメルマガ配信など便利な機能を盛り込んでいく予定なので今後ともよろしくお願いします！
				</p>
				<a href="newregistr" class="btn btn-danger btn-lg">新規会員登録</a>
			</div>
			<div class="col-md-6 d-none d-lg-block">
				<img src="img/about.jpg" class="img-fluid">
			</div>
		</div><!-- /.row -->
	</div><!-- /.contaner -->
</section>


<!-- Specification -->
<section id="Specification" class="bg-dark text-light">
	<div class="container py-5">
		<div class="row">
			<div class="col-md-6">
				<img src="img/node.jpeg" class="img-fluid">
			</div>
			<div class="col-md-6 my-4">
				<h3>サイトの仕様や言語について</h3>
				<p class="pb-3">
					<p>
						■ 仕様<br>
						CRUD機能、MVCモデル、ログイン機能、認証機能
					</p>
					<br>
					<p>
						■ 言語<br>
						・バックエンド<br>
						Node.js , express , MongoDB , mongoose ,<br>
						ejs , passport.js , (ajax)<br>
						・フロントエンド<br>
						　Bootstrap
					</p>
					<br>
					<p>
						■ その他<br>
						Git , heroku
					</p>
				</p>
			</div>
		</div><!-- /.row -->
	</div><!-- /.contaner -->
</section>

<!-- contact -->
<section id="Contact-section" class="mb-4">
	<div class="container py-5">
		<div class="row">
			<div class="col text-center">
				<h3>お問い合わせ</h3>
				<p class="lead pb-3">サイトについてご質問などございましたらお気軽にお問い合わせください。</p>
				<a href="contact" class="btn btn-primary border-light"><i class="fas fa-envelope w-25"></i></a>
			</div>
		</div>
	</div>
</section>

<%- include("./partials/_modal-course-list") %>
<%- include("./partials/_footer") %>