<%- include("./partials/_header") %>

<!-- Page-title-area  -->
<section id="Page-title-area" class="bg-dark">
	<div class="container text-light page-title-area-content">
		<h2><i class="fas fa-user" style="color:#dc3545;"></i> 新規会員登録</h2>
	</div><!-- /.page-title-area-content -->
</section><!-- /#Page-title-area -->

<!-- registration-Form  -->
<section id="Registration" class="container">
	<hr>
	<div class="row">
		<div class="col mx-auto">
			<p class="py-3">
				仕様補足：登録データは<a href="/dashboard/users">ダッシュボード</a>で確認できます。<br>
				ログイン後、グローバルナビからレシピ登録ができます。<br>
				※ すでにメルマガ登録済みの方は、ユーザー情報にメルマガ登録時のidが付与されます。
			</p>

			<form action="/newregister" method="POST" class="py-3">
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<div class="input-group-text"><i class="fas fa-user"></i></div>
					</div>
					<input type="text" name="first" class="form-control" placeholder="姓" required>
				</div>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<div class="input-group-text"><i class="fas fa-user"></i></div>
					</div>
					<input type="text" name="last" class="form-control" placeholder="名" required>
				</div>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<div class="input-group-text"><i class="fas fa-envelope"></i></div>
					</div>
					<input type="email" name="email" class="form-control" placeholder="メールアドレス" required>
				</div>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<div class="input-group-text"><i class="fas fa-lock"></i></div>
					</div>
					<input type="password" name="password" class="form-control" placeholder="パスワード" required>
				</div>
				<button type="submit" class="btn btn-danger border-light btn-lg btn-block">
					新規会員登録
				</button>
			</form>

			<hr>
		</div><!-- /.col -->
	</div>


	<!-- privacy -->
	<div class="privacy bg-light p-4 my-4">
		<h3>個人情報保護方針</h3>
		<p>当サイトの運営に際し、お客様のプライバシーを尊重し個人情報に対して十分な配慮を行うとともに、大切に保護し、適正な管理を行うことに努めております。</p>
		<br>
		<h5>【個人情報の利用目的】</h5>
		<p>a）お客様のご要望に合わせたサービスをご提供するための各種ご連絡。<br>
			b）お問い合わせいただいたご質問への回答のご連絡。</p>
		<p>公正かつ適正な手段で、上記目的に必要となる個人情報を収集します。<br>
			要配慮個人情報を取得する際は、ご本人の同意を得るものとします。<br>
			取得した個人情報・要配慮個人情報は、ご本人の同意なしに目的以外では利用しません。<br>
			情報が漏洩しないよう対策を講じ、従業員だけでなく委託業者も監督します。<br>
			国内外を問わず、ご本人の同意を得ずに第三者に情報を提供しません。<br>
			ご本人からの求めに応じ情報を開示します。<br>
			公開された個人情報が事実と異なる場合、訂正や削除に応じます。<br>
			個人情報の取り扱いに関する苦情に対し、適切・迅速に対処します。<br>
			本個人情報保護方針の適用範囲は本ホームページ内のみとします。</p>
		<br>
		<h5>【Googleアナリティクスの使用について】</h5>
		<p>当サイトでは、より良いサービスの提供、またユーザビリティの向上のため、Googleアナリティクスを使用し、当サイトの利用状況などのデータ収集及び解析を行っております。その際、「Cookie」を通じて、Googleがお客様のIPアドレスなどの情報を収集する場合がありますが、「Cookie」で収集される情報は個人を特定できるものではありません。<br>
			収集されたデータはGoogleのプライバシーポリシーにおいて管理されます。<br>
			なお、当サイトのご利用をもって、上述の方法・目的においてGoogle及び当サイトが行うデータ処理に関し、お客様にご承諾いただいたものとみなします。</p>
		<br>
	</div>

</section>




<%- include("./partials/_modal-course-list") %>
<%- include("./partials/_footer") %>